﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master1.Master" AutoEventWireup="true" CodeBehind="ReporteCotizaciones.aspx.cs" Inherits="CotizadorAutos.ReporteCotizaciones" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <link href="style/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
<br />
    <table style="margin-left:100px">
        <tr>
            <td>
                <asp:Label ID="lblAgente" runat="server" Text="Agente :"></asp:Label>
            </td>

            <td>
                <asp:Label ID="lblNombre" runat="server"></asp:Label>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="lblIDAgente" runat="server" Text="ID agente :"></asp:Label>
            </td>

              <td>
                <asp:Label ID="lblID" runat="server" ></asp:Label>
            </td>
        </tr>
    </table>
   <br />

    <div style="text-align:center; margin-left:210px; font-family:Calibri">
        <asp:GridView ID="gwCotizaciones"  runat="server" CssClass="ui-table" Width="1000px"></asp:GridView>

    </div>


</asp:Content>
